GoldRush/obj/Debug/GoldRush.pdb
GoldRush/obj/Debug/GoldRush.exe
GoldRush/bin/Debug/GoldRush.pdb
GoldRush/bin/Debug/GoldRush.exe
.vs/GoldRush/v15/Server/sqlite3/storage.ide-wal
.vs/GoldRush/v15/Server/sqlite3/storage.ide-shm
.vs/GoldRush/v15/Server/sqlite3/storage.ide
.vs/GoldRush/v15/Server/sqlite3/db.lock
.vs/GoldRush/v15/.suo
